extends layout

block content
    h1 注册用户信息
    form(method='post', action='/users/registerUser')
        div.form-row
            label
                span username:
                input(type='text',name='username')
        div.form-row
            label
                span password:
                input(type='text',name='password')

        div.form-row
            input(type='submit')
